@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-center">
    <h1 class="display-4">Calculadora</h1>
    <br /><br />

    <!-- isto é uma linha de comentário e aparece no browser -->
    @* e isto também é uma linha de comentário, mas não aparece no browser *@

    <!-- Calculadora -->
    <form>
        <table>
            <tr>
                <td colspan="5"></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td rowspan="2">
                    <input type="submit" name="" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
                <td>
                    <input type="submit" name="" value="" />
                </td>
            </tr>
        </table>
    </form>

</div>
